*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
   min-height:100vh ;
    padding: 10px;
background: linear-gradient(135deg,rgb(62, 197, 134),rgb(42, 89, 107));
}
.todo{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(6, 190, 37, 0.164);
    overflow-y: scroll; /* Enable vertical scrolling */

}
.todo h2{
  color: blue;
  align-items: center;
    padding-bottom: 30px;
    text-align: center;
}
input{
    flex: 1;
    padding: 6px;
    background-color: transparent;
    border: 2px  groove rgba(236, 232, 232, 0.568);
    font-weight: 20px;
}

button{
    background-color: #12d64d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    font-size: 10px;
}
button:hover{
    border:  1px solid rgb(30, 255, 0);
}
.row{
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
ul li{
    font-size: 17px;
    user-select: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}
ul li.checked{
    color: green;
    text-decoration: line-through;
}
ul li span{
position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
line-height:40px ;
color: red;
width: 40px;
border-radius:50%;
font-size: 25px;
text-align: center;
}
ul li span:hover{
    background-color: #350a0a31;
}
